<div id='footer'>
  <div class='three spacing'></div>
  <div class='row'> 
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <h4>Contact</h4>
      <ul>       
        <li>Email: createkini@gmail.com</li>
        <li>Eindhoven, The Netherlands</li>
      </ul>
      <div class='spacing'></div>
      <ul class='socials'>
        <li>
          <a href='https://www.facebook.com/Ankitha-Kini-1117977191577386/'>
            <i class='fa fa-facebook'></i>
          </a>
        </li>
        <li>
          <a href='https://twitter.com/AnkithaKini'>
            <i class='fa fa-twitter'></i>
          </a>
        </li>
        <li>
          <a href='https://www.linkedin.com/in/ankitha-kini-8272b324/'>
            <i class='fa fa-linkedin'></i>
          </a>
        </li>
        <li>
          <a href='https://ankithakini.tumblr.com/'>
            <i class='fa fa-tumblr'></i>
          </a>
        </li>
      </ul>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>

<script src="{{ "/javascripts/jquery.countTo.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.appear.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.validate.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.sequence-min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.easing.1.3.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/app.js" | prepend: site.baseurl }}" type="text/javascript"></script>